@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,regular,500,600,700);
body{
    border: 20px solid #bdc3c7;
    padding: 20px;
    width: 700px;
    margin: 20px auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mainp{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}
.date{
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}
h2{
    color: blue;
    font-size: 2.0em;
}
.post{
    margin-bottom: 20px;
}
hr{
    height: 12px;
    box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}